body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    font-family: 'Libre Franklin', sans-serif;
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    max-width: 108%;
    height: 12em; 
    background: #F3F6F9;
    border-bottom-right-radius: 75px; 
}

.header-links {
    position: absolute;
    top: 13.5%;
    left: 56%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 11px; 
}

.header-link {
    text-decoration: none;
    color: #080808; 
    font-family: sans-serif;
    font-size: 0.6em; 
}

.header-link:hover {
    text-decoration: underline; 
}


header::after {
    content: '';
    display: block;
    width: 80%; 
    height: 1px; 
    background-color: #0070cc; 
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
}

header::before {
    content: '';
    width: 10px; 
    height: 11px; 
    background-color: #0070cc; 
    position: absolute;
    bottom: -10px; 
    right: 28%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 6px; /* Adjust padding for a more square shape */
    border: 2px solid #d3d3d3;
    border-radius: 8px; /* Adjust border-radius for a more square shape */
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 5px; /* Adjust the top value to move it lower */
}



.arrow {
    margin-left: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #f9f9f9; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: #080808;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd; /* Grey background color on hover */
  
}

.dropdown-content a.clicked {
    background-color: #ddd; /* Darker background color when clicked */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a.highlight {
    background-color: #ddd;
}





.menu-icon {
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10;
}

.mobile-menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mobile-menu a {
    font-size: 1.5em;
    text-decoration: none;
    color: #080808;
    margin: 15px;
}

.bar {
    width: 20px; 
    height: 2px; 
    background-color: #080808; 
    margin: 3px 0;
}

img {
    position: absolute;
    top: 10px;
    left: -7px;
    width: 100px; 
    height: auto; 
}

h1 {
    position: absolute;
    bottom: 10px;
    left: 28%;
    transform: translateX(-50%);
    color: #080808; 
    font-family: sans-serif;
    font-size: 1.5em; 
    margin: 0;
}

.portal {
    display: flex;
    justify-content: center;
}

.cards {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards li {
    min-width: 320px;
    max-width: 320px;
    max-height: fit-content;
    margin: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 5px 3px rgb(219, 218, 218);
    text-align: center;
}
.product-line {
    margin: .2em;
    padding: .2em;
    color: #B15A00;
    background-color: #FFEBD9;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line1 {
    margin: .2em;
    padding: .2em;
    color: #295EFF;
    background-color: #DFE6FF;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line3 {
    margin: .2em;
    padding: .2em;
    color: #24684A;
    background-color: #D7F1F1;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line4 {
    margin: .2em;
    padding: .2em;
    color: #126F6F;
    background-color: #D5EAE1;
    border-radius: 20px;
    max-width: fit-content;
}

.product-line5 {
    margin: .2em;
    padding: .2em;
    color: #6116C0;
    background-color: #E8DDF8;
    border-radius: 20px;
    max-width: fit-content;
}

.text-link {
    padding-top: 1em;
    color: #295EFF;
    z-index: 1;
    position: relative;
}

.bookmark {
    color: #295EFF;
    z-index: 1;
    position: relative;
}

.arrow {
    color: #295EFF;
    z-index: 1;
    position: relative;
}

/* modal menu */
.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    /* background-color: rgba(50, 50, 50, 0.8); */
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: z-index, opacity;

}

.modal-content {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 1em;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.modal.show {
    z-index: 20;
    opacity: 1;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: z-index, opacity;
}

#close-modal {
    color: black;
    float: right;
    font-size: 16px;
    border: none;
    text-decoration: none;
    background: none;
    padding-right: 1.5em;
}

#text-height.present {
    text-overflow: unset;
    border: none;
    background: none;

}

#text-height {
    border: none;
    background: none;
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
}

#text-height.present p {
    text-overflow: unset;
    max-height: 100%;
}


header.modal-open .text-link,
header.modal-open .bookmark,
header.modal-open .arrow {
    display: none;
}

.filter-button {
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #0070cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #005ba1;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.product-line {
    color: #B15A00;
    background-color: #FFEBD9;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
    border: 1px solid #ccc; /* Thin grey border */
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#scrollToTopBtn .arrow {
    display: inline-block;
    transform: rotate(-90deg);
    border: solid #000;
    border-width: 0 3px 3px 0;
    padding: 3px;
}


#scrollToTopBtn {
    display: none;
}