body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    font-family: 'Libre Franklin', sans-serif;
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    max-width: 108%;
    height: 12em; 
    background: #F3F6F9;
    border-bottom-right-radius: 75px; 
}

.header-links {
    position: absolute;
    top: 13.5%;
    left: 56%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 11px; 
}

.header-link {
    text-decoration: none;
    color: #080808; 
    font-family: sans-serif;
    font-size: 0.6em; 
}

.header-link:hover {
    text-decoration: underline; 
}


header::after {
    content: '';
    display: block;
    width: 80%; 
    height: 1px; 
    background-color: #0070cc; 
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
}

header::before {
    content: '';
    width: 10px; 
    height: 11px; 
    background-color: #0070cc; 
    position: absolute;
    bottom: -10px; 
    right: 28%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 10px;
    border: 2px solid #d3d3d3; /* Light grey border color */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    margin-left: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -2em; /* Adjust this value to position the menu underneath the header */
    left: 0;
    background-color: #f9f9f9; /* Light grey background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: #080808;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd; /* Grey background color on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}




.menu-icon {
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.bar {
    width: 20px; 
    height: 2px; 
    background-color: #080808; 
    margin: 3px 0;
}

img {
    position: absolute;
    top: 10px;
    left: -7px;
    width: 100px; 
    height: auto; 
}

h1 {
    position: absolute;
    bottom: 10px;
    left: 28%;
    transform: translateX(-50%);
    color: #080808; 
    font-family: sans-serif;
    font-size: 1.5em; 
    margin: 0;
}
